body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.login-container {
    border: 1px solid black;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
}

.login-container h2 {
    margin-bottom: 20px;
}

button {
    display: block;
    width: 100%;
    height: auto;
    padding: 10px;
    margin-bottom: 10px;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}



.separator {
    margin: 10px 0;
    font-weight: bold;
    text-align: center;
}

.email-login {
    margin-top: 20px;
  

}

input {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;  
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"] {
    background-color: #28a745;
}

button[type="submit"]:hover {
    background-color: #1a682c;
}

