@import url('https://fonts.googleapis.com/css2?family=Alata&family=Lexend:wght@100;200;300;400;500;600&family=Nunito:ital,wght@0,200;0,500;0,600;1,200;1,300;1,400&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,400;1,500&family=Roboto:ital,wght@0,100;0,300;0,400;1,300&display=swap');
@import url('./variables.css');

* {
    box-sizing: border-box;
}

body,
button {
    font-family: 'Alata', sans-serif;
}


.button-primary {
    border-radius: 4px;
    background: var(--purple-primary);
    color: var(--white);
    border: 0;
    outline: 0;
    width: 100px;
    height: 35px;
}

.button:hover {
    color: var(--white);
}

.button:active {
    background: var(--purple-primary);
}

.button-in-active {

    background: var(--dark, #191720);
}

a {
    text-decoration: none;
}