@import url("../../common/styles/reset.css");
@import url('../../common/styles/base.css');
@import url('../../common/styles/grid.css');
@import url('../../common/styles/variables.css');

.home-container {
    margin-top: 108px;
    background-color: var(--yellow-light);
    padding: 0px 70px;
    padding-bottom: 40px;
}

.container-slide {
    display: flex;
    flex-wrap: wrap;
}

.texts {
    width: 50%;
}

.texts h2 {
    font-size: 18px;
    color: var(--purple-primary);
    font-weight: 600;
    padding: 10px 0;
}

.texts h1 {
    font-size: 50px;
    padding: 15px 0;
    width: 50%;
    font-weight: 600;
}

.texts img {
    width: 35px;
}

.texts p {
    width: 75%;
    padding: 10px 0;
}

.image {
    position: relative;
    width: 50%;
}

.image::after {
    content: 'FOOD DELIVERY';
    display: block;
    position: absolute;
    top: 10%;
    width: 100%;
    transform: rotate(-30deg);
    font-size: 25px;
    font-weight: 800;
}

.image img {
    position: absolute;
    height: 100%;
    border-radius: 5px;
    left: 0;
    top: 0;
}

.location {
    position: relative;
    padding: 10px 0;
    display: flex;
    gap: 14px;
    margin-top: 15px;
}

.texts button {
    width: 100px;
    font-size: 14px;
    height: 35px;
    font-weight: 500;
    margin-top: 20px;
}

.location button {
    width: 100px;
    font-size: 14px;
    height: 35px;
    font-weight: 500;
    margin: 0;
}

.location-input {
    position: relative;
}

.location-input input {
    height: 35px;
    padding-left: 20px;
    border-radius: 10px;
    background: rgba(204, 204, 204, 0.43);
    outline: none;
    border: none;
}

.location-input i {
    position: absolute;
    left: 7px;
    top: 10px;
    color: #949494;
    font-size: 14px;
}

.location-input input::placeholder {
    color: #949494;
    font-weight: 600;
}

.services {
    padding: 100px;
}

.services h1 {
    color: #191720;
    text-align: center;
    font-size: 34px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
}

.services p {
    color: #575363;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.services .service {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services .service .card {
    width: 321px;
    height: 348px;
    flex-shrink: 0;
    border-radius: 12px;
    background: #FFF;
    margin: 15px;
    padding: 15px;
    text-align: center;
}

.services .service .card:hover {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
}

.services .service .card:hover button {
    color: var(--purple-primary);
}

.services .service .card img {
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    margin-top: 15px;
}

.services .service .card h3 {
    color: var(--dark, #191720);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
}

.services .service .card p {
    color: #575363;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    width: 100%;
}

.services .service .card button {
    color: #191720;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    background-color: transparent;
    margin-top: 40px;
}

.about {
    padding: 20px 135px;
    position: relative;
    background-color: var(--yellow-light);
    margin-top: 80px;
    padding-bottom: 135px;
}

.about .count-down {
    border-radius: 12px;
    background: #191720;
    height: 202px;
    flex-shrink: 0;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
    position: relative;
    top: -110px;
}

.about .count-down h1 {
    color: var(--white, #FFF);
    text-align: center;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
}

.about .count-down p {
    color: var(--white, #FFF);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.count_down_food {
    position: absolute;
    z-index: 2;
    top: -15px;
    left: -30px;
    width: 59px;
    height: 59px;
}

.count_down_plate {
    z-index: 2;
    position: absolute;
    right: 0;
}

.about-foodeats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 130px;
    flex-wrap: wrap;
}

.about-foodeats .ill {}

.about-foodeats .ill .rectangle {
    content: "";
    display: block;
    width: 570px;
    height: 478px;
    flex-shrink: 0;
    border-radius: 12px;
    background: #29B067;
    position: relative;
}

.about-foodeats .ill .rectangle2 {
    width: 494px;
    height: 556px;
    flex-shrink: 0;
    border-radius: 12px;
    background: linear-gradient(181deg, #FFCF54 0%, #FFB700 98.96%);
    position: absolute;
    left: 38px;
    top: 38px;
    z-index: 1;
}

.rectangle2-1 {
    position: absolute;
    z-index: 3;
    top: 33%;
    left: 10%;
}

.rectangle2-2 {
    position: absolute;
    bottom: -15%;
    z-index: 3;
    LEFT: 10%;
}

.rectangle2-3 {
    position: absolute;
    z-index: 3;
    right: 15%;
    top: 15%;
}

.rectangle2-4 {
    position: absolute;
    z-index: 3;
}

.rectangle .title1 {
    position: absolute;
    z-index: 3;
    width: 168.408px;
    transform: rotate(-15deg);
    color: #191720;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 100px;
    left: 15%;
    top: 15%;
}

.rectangle .title2 {
    position: absolute;
    z-index: 3;
    width: 168.408px;
    transform: rotate(-15deg);
    color: #191720;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 100px;
    bottom: -15%;
    right: 10%;
}

.about-foodeats .content {
    width: 440px;
}

.about-foodeats .content h1 {
    color: #191720;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
}

.about-foodeats .content p {
    color: #575363;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}

.about-foodeats .content button {
    width: 120px;
    height: 45px;
    font-weight: 600;
}

.features {
    padding: 120px 135px;
    text-align: center;
    position: relative;
}

.features .base-icon1 {
    position: absolute;
    left: 0;
    z-index: -1;
    bottom: 0;
}

.features .base-icon2 {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.features h1 {
    color: #191720;
    text-align: center;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
}

.features p {
    color: #575363;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin: 12px 0;
    margin-bottom: 50px;
}

.features .features-base {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
}

.card-features {
    width: 555px;
    min-height: 400px;
    flex-shrink: 0;
    padding: 20px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 20px 70px 0px rgba(27, 12, 84, 0.07);

}

.card-features img {
    width: 200px;
    margin: 30px 0;
    margin-bottom: 50px;
}

.card-features button {
    width: 120px;
    height: 45px;
    font-weight: 600;
    margin-bottom: 30px;
    background-color: #191720;
}

.card-features button:hover {
    background-color: var(--purple-primary);
}

.testimotions {
    padding: 100px 135px;
    background-color: var(--yellow-light);
}

.testimotions h1 {
    color: var(--dark, #191720);

    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
}

.testimotions-base {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.card-testimation {
    background-color: #fff;
    padding: 20px;
    width: 365px;
    height: 281px;
    flex-shrink: 0;
    border-radius: 12px;
    background: var(--white, #FFF);
}

.card-testimation:hover h1 {
    color: var(--purple-primary);
}

.card-testimation p {
    color: #575363;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    position: relative;
    padding-bottom: 20px;
}

.card-testimation h1 {
    color: var(--dark, #191720);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
}

.card-testimation p::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #ccc;
    position: absolute;
    bottom: 0;
}

.card-testimation span {
    color: #575363;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.card-rating {
    margin: 15px 0;
}

.card-rating i {
    color: #FFB700;
    font-size: 15px;
}