@import url('../styles/grid.css');
@import url('../styles/reset.css');
@import url('../styles/variables.css');
@import url('../styles/base.css');

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 108px;
    background: var(--yellow-light);
    cursor: pointer;
    display: block;
    z-index: 4;
}

.header span {
    font-weight: 600;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 108px;
    line-height: 108px;
}

.header-nav h1 {
    font-weight: 800;
    font-size: 25px;
}

.nav-menu ul {
    padding: 0;
    margin: 0;
}

.nav-menu li {
    display: inline-block;
    min-width: 120px;
    text-align: center;
    font-size: 16px;
    border-radius: 10px;
    height: 50px;
    line-height: 50px;
}

.nav-menu li:hover {
    box-shadow: 3px 3px 40px rgba(131, 113, 31, 0.2);
}

.nav-menu li:active {
    box-shadow: 3px 3px 40px #af910d7e;
}

.nav-author {
    cursor: pointer;
    position: relative;
}

.nav-author button {
    width: 120px;
    height: 50px;
    font-weight: 700;
    line-height: 50px;
    font-size: 16px;
}

.btn-signin {
    border-radius: 4px;
    color: var(--dark);
    border: 0;
    outline: 0;
    background-color: transparent;
    font-size: 16p;
    padding: 0 20px;
}

.nav-author i {
    font-size: 25px;
    margin-left: 20px;
}

.nav-author i:hover {
    color: var(--purple-primary);
    box-shadow: 3px 3px 40px rgba(131, 113, 31, 0.2);
}

.btn-signin:hover {
    box-shadow: 0 3px 30px rgba(0, 0, 0, 0.2);
}

.btn-signin:active {
    box-shadow: 0 3px 30px rgba(0, 0, 0, 0.4);
}


.list-appre {
    display: inline-block;
}

.list_menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0;
}

.list_menu a {
    color: #333;
    height: 45px;
    line-height: 45px;
    width: 400px;
    background-color: #e0e0e021;
    padding-left: 20px;
    border-radius: 10px;
}

.active_menu {
    display: none;
}

.active {
    display: none !important;
}

.list_menu a:hover {
    box-shadow: 0 3px 30px rgba(0, 0, 0, 0.2);
}

@media (min-width: 1113px) {

    .item_list {
        display: inline-block;
    }
}

@media (min-width: 740px) and (max-width: 1111px) {

    .active {
        display: inline-block !important;
    }

    .list-appre {
        display: none;
    }

    .nav-menu {
        position: relative;
        height: 0;
    }

    .nav-menu ul {
        position: absolute;
    }
}

@media (max-width: 1024px) {

    .wide {
        max-width: 100% !important;
        width: 90%;
        margin: 0 auto;
    }
}

@media (min-width: 1024px) and (max-width: 1239px) {

    .wide {
        max-width: 100% !important;
        width: 90%;
        margin: 0 auto;
    }
}

@media (max-width: 740px) {
    .active {
        display: inline-block !important;
    }

    .list-appre {
        display: none;
    }
}

@media (max-width: 540px) {
    .header-nav {
        align-items: baseline;
    }

    .wide {
        max-width: 100% !important;
        width: 90%;
        margin: 0 auto;
    }

    .header-nav h1 {
        font-weight: 800;
        font-size: 14px;
    }

    .nav-author button {
        width: 100px;
        height: 40px;
        font-weight: 700;
        line-height: 40px;
        font-size: 12px;
        padding: 0;
    }

    .nav-author i {
        font-size: 20px;
    }

    .btn-signin {
        border-radius: 4px;
        color: var(--dark);
        border: 0;
        outline: 0;
        background-color: transparent;
    }

    .list_menu a {
        color: #333;
        height: 45px;
        line-height: 45px;
        width: 200px;
        background-color: #e0e0e021;
        padding-left: 20px;
        border-radius: 10px;
    }
}