@import url('../../../common/styles/reset.css');
@import url('../../../common/styles/grid.css');
@import url('../../../common/styles/variables.css');
@import url('../../../common/styles/base.css');

.detail-blog-container {
    margin-top: 108px;
}

.blog-news {
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


